*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image:linear-gradient(rgba(90, 25, 30, 0.8),rgba(90, 25, 30, 0.8)), url(/photos/slide1.jpg);
    background-position: center;
    background-size: cover;
}

.form-box{
    width: 100%;
    max-width: 450px;
    margin:5% 30%;
    background: white;
    padding: 50px 60px 70px;
    text-align: center;
    display: none;
}
.form-box.active{
    display: block;
}
.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #AF1740;
    position: relative;
}
.input-field{
    background-color: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
input, select{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}
.input-field i{
    margin-left: 15px;
    color: #888;
}
.input-group a{
    text-decoration: none;
    color: #AF1740;
}
.button-field button{
    width: 35%;
    background: #AF1740;
    color: white;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    margin-top: 20px;
    cursor: pointer;
}
.radio-field{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
p{
    margin-top: 20px;
}
p a{
    text-decoration: none;
    color: #AF1740;
}
.error-message {
    padding: 12px;
    background: #f8d7da;
    border-radius: 6px;
    font-size: 16px;
    color: #AF1740;
    text-align: center;
    margin-bottom: 20px;
}